<template>
    <div class="custom-input">
        <input :value="value" @input="updateSelf($event.target.value)" v-bind="$attrs">
        <div class="bottom-line"></div>
        <slot></slot>
    </div>
</template>

<script>
export default {
  inheritAttrs: false,
  props: ['value'],
  methods: {
    updateSelf(value) {
      this.$emit('input', value);
    },
  },
};
</script>


<style scoped>
    .custom-input{
        display: inline-block;
        position: relative;
    }

    input{
        height: 100%;
        width: 100%;
        border: none;
        padding: 8px 0;
        caret-color: #5d92f4;
        font-size: 16px;
        white-space: nowrap;
        background: transparent;
    }

    input::placeholder{
        font-family: 'Heebo', Helvetica, Arial, sans-serif;
        color: rgba(0,0,0,.54);
    }

    input:focus{
        outline: none;
    }

    .bottom-line{
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        border-top: solid rgba(0,0,0,.42);
        border-width: thin 0 0;
        transition: .4s cubic-bezier(.25,.8,.5,1);
        transform: scaleX(0);
    }

    input:focus + .bottom-line{
        transform: scaleX(1);
        border-color: #5d92f4;
    }

    .bottom-line ~ *{
        position: absolute;
        top: 3px;
        right: 10px;
    }
</style>
