<template>
  <popup>
    <h4 slot="header">Delete Item</h4>
    <p>Are You Sure Delete Item !</p>

    <div slot="footer">
      <button class="cancel" @click="closePopup">cancel</button>
       <button class="submit" @click="deleteTask">OK</button>
    </div>
  </popup>
</template>


<script>
import popup from './popup.vue';
import * as mutationTypes from '../store/modules/mutation-types';
import * as actionTypes from '../store/modules/action-types';

export default {
  components: {
    popup,
  },

  props: ['task-id'],

  methods: {
    closePopup() {
      this.$store.commit(`Common/${mutationTypes.SET_POPUP_ID}`, '');
    },
    deleteTask() {
      this.$store.dispatch(`Tasks/${actionTypes.DELETE_TASK}`, this.taskId);
      this.$store.commit(`Common/${mutationTypes.SET_POPUP_ID}`, '');
      this.$store.commit(`Common/${mutationTypes.SET_MESSAGE}`, 'Task deleted Successfully');
    },
  },
};
</script>


<style scoped>
  h4{
    color: #464d69;
    font-weight: 500;
    font-size: 1rem;
    margin: 10px;
  }

  .popup >>> .main{
    padding: 20px 10px;
  }

  button{
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    margin-right: 15px;
  }

  button:focus{
    outline: none;
  }

  .cancel{
    background: red;
  }

  .submit{
    background: #5d92f4;
  }

  .submit:disabled{
    background: #f2f2f2;
    color: rgba(0,0,0,.7);
  }

  .popup >>> .footer{
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;
  }
</style>
