<template>
  <popup>
    <h4 slot="header">Update Task Data</h4>
    <custom-input name="task" class="new-task" :class="{error: !tagName}"
    id="newTask" v-model.trim="tagName">
      <label for="newTask" :class="{active: tagName}">
        Task Name
      </label>
      <span v-if="!tagName" class="error-message">
          Field Required
      </span>
    </custom-input>

    <div slot="footer">
        <button class="cancel" @click="closePopup">cancel</button>
       <button class="submit" :disabled="!tagName" @click="editTask">submit</button>
    </div>
  </popup>
</template>


<script>
import popup from './popup.vue';
import * as mutationTypes from '../store/modules/mutation-types';
import * as actionTypes from '../store/modules/action-types';

export default {
  components: {
    popup,
  },

  data() {
    return {
      tagName: this.taskName,
    };
  },

  props: ['task-id', 'task-name'],

  methods: {
    closePopup() {
      this.$store.commit(`Common/${mutationTypes.SET_POPUP_ID}`, '');
    },

    editTask() {
      this.$store.dispatch(`Tasks/${actionTypes.EDIT_TASK}`, { TaskID: this.taskId, TaskTag: this.tagName });
      this.$store.commit(`Common/${mutationTypes.SET_POPUP_ID}`, '');
      this.$store.commit(`Common/${mutationTypes.SET_MESSAGE}`, 'Task edited Successfully');
    },
  },

  watch: {
    taskName(val) {
      this.tagName = val;
    },
  },
};
</script>


<style scoped>
  h4{
    color: #464d69;
    font-weight: 500;
    font-size: 1rem;
    margin: 10px;
  }

  .popup >>> .main{
    padding: 0 10px;
  }

  .new-task{
    width: 100%;;
  }

  .new-task label{
    color: rgba(0,0,0,.7);
    left: 0;
    top: 20%;
    transition: .3s;
    cursor: text;
  }

  input:focus ~ label,
  label.active{
    transform: translate3d(-70px,-17px,0) scale(0.7);
    color: #5d92f4;
  }

  button{
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 3px;
    border: none;
    margin-right: 15px;
  }

  button:focus{
    outline: none;
  }

  .cancel{
    background: red;
  }

  .submit{
    background: #5d92f4;
  }

  .submit:disabled{
    background: #f2f2f2;
    color: rgba(0,0,0,.7);
  }

  .popup >>> .footer{
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;
  }

  .error label{
    color: red;
  }

  .error >>> .bottom-line{
    transform: scaleX(1);
    border-color: red;
  }

  .error .error-message{
    color: red;
    left: 0;
    bottom: -30px;
    top: auto;
    font-size: 12px;
  }

  input:focus ~ .error-message{
    display: none;
  }
</style>
