<template>
    <footer v-show="pagination">
        <div>
            <span>Rows per page</span>
            <select v-model="rowsPerPage">
                <option>5</option>
                <option>10</option>
                <option>20</option>
                <option>50</option>
            </select>
        </div>
        <div>
            <span v-html="`From ${(page-1) * rowsPerPage + 1} to ${page * rowsPerPage}`"></span>
            <button class="prev-page mdi mdi-chevron-left"
              :disabled="page < 2"
              @click="page--">
              </button>
            <button class="next-page mdi mdi-chevron-right"
            :disabled="page >=  itemsCount / rowsPerPage"
            @click="page++">
            </button>
        </div>
    </footer>
</template>

<script>
import { mapState, mapMutations } from 'vuex';
import * as mutationTypes from '../store/modules/mutation-types';

export default {
  computed: {
    ...mapState({
      pagination: state => state.Common.pagination,
      itemsCount: state => state.Tasks.tasks.length,
    }),
    rowsPerPage: {
      get() {
        return this.$store.state.Common.rowsPerPage;
      },
      set(newValue) {
        this.setRowsPerPage(newValue);
      },
    },

    page: {
      get() {
        return this.$store.state.Common.page;
      },
      set(newValue) {
        this.setPage(newValue);
      },
    },
  },
  methods: {
    ...mapMutations({
      setPage: `Common/${mutationTypes.SET_PAGE}`,
      setRowsPerPage: `Common/${mutationTypes.SET_ROWS_PER_PAGE}`,
    }),
  },
};
</script>


<style scoped>
    footer{
        padding: 10px 18px;
        background-color: white;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap-reverse;
        font-size: 14px;
        align-items: center;
    }

    footer >div{
        flex-wrap: nowrap;
    }

    footer >div > *{
        margin-left: 50px;
    }

    button:disabled,
    footer span{
        color: rgba(0,0,0,.5);
    }

    button,
    select{
        color: rgba(0,0,0,.87);
    }

    select{
        top: auto;
        bottom: 100%;
        border: none;
        border-bottom: thin solid rgba(0,0,0,.42);
    }

    option:checked{
        color: #5d92f4;
    }

    option{
       font-size: 1.35em;
    }

    select:focus{
        outline: none;
    }

    button{
        padding: 5px;
        border-radius: 50%;
        background: transparent;
        font-size: 20px;
        border: none;
    }

    button:not(:disabled):hover,
    button:not(:disabled):focus{
        background: rgba(0,0,0,.05);
    }
</style>
