<template>
<div class="wrapper">
    <table @click="selectTask($event)">
        <thead>
            <tr>
                <th>#</th>
                <th>Task Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(task,index) in tasks" :key="index">
                <td v-html="index+1"></td>
                <td>
                    <task-name :task-id="task.TaskID" :task-tag="task.TaskTag"></task-name>
                </td>
                <td>
                    <button class="mdi mdi-pencil" v-popup="'editTask'"></button>
                    <button class="mdi mdi-trash-can-outline" v-popup="'deleteTask'"></button>
                </td>
            </tr>
        </tbody>
    </table>

    <edit-task id="editTask"
      :task-id="selectedTask.TaskID" :task-name="selectedTask.TaskTag"></edit-task>
    <delete-task id="deleteTask"
      :task-id="selectedTask.TaskID"></delete-task>
</div>
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import deleteTask from './deleteTask.vue';
import editTask from './editTask.vue';
import taskName from './taskName.vue';

export default {
  components: {
    deleteTask,
    editTask,
    taskName,
  },

  computed: {
    ...mapState({
      rowsPerPage: state => state.Common.rowsPerPage,
      page: state => state.Common.page,
      pagination: state => state.Common.pagination,
    }),

    tasks() {
      if (this.pagination) {
        const tasksStartCount = (this.page - 1) * this.rowsPerPage;
        const tasksEndCount = this.page * this.rowsPerPage;
        return this.$store.getters['Tasks/getSearchedTasks'].slice(tasksStartCount, tasksEndCount);
      }
      return this.$store.getters['Tasks/getSearchedTasks'];
    },
  },

  data() {
    return {
      selectedTask: {},
    };
  },

  methods: {
    selectTask(event) {
      const row = event.target.closest('tr');
      const tBody = row.parentNode;
      const index = Array.prototype.indexOf.call(tBody.children, row);
      this.selectedTask = this.tasks[index];
    },
  },
};
</script>


<style scoped>
    th:first-child{
        width: 10%;
    }

    th:last-child{
        width: 20%;
        min-width: 120px;
    }

    table{
        width: 100%;
        font-size: 16px;
        min-width: 384px;
        background-color: white;
        border-collapse: collapse;
        border-bottom: thin solid rgba(0,0,0,.37);
    }

    thead{
        background-color: #e3f2fd;
    }

    tbody tr:nth-child(2n){
        background-color: #fafafa;
    }

    tr{
        height: 60px;
    }

    th{
        text-align: left;
        font-weight: 500;
    }

    th,td{
        padding: 0 24px;
    }

    .edit{
        width: 100%;
    }

    button{
        background: transparent;
        border: none;
        font-size: 16px;
        color: #2196f3;
    }

    button:active{
        outline: none;
    }

    button:last-of-type{
        margin-left: 24px;
        color: red;
    }
</style>
