<template>
  <div :class="{show: message}">
    <p v-html="message"></p>
    <button @click="setMessage('')">CLOSE</button>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex';
import * as mutationTypes from '../store/modules/mutation-types';

export default {
  computed: {
    ...mapState({
      message: state => state.Common.message,
    }),
  },

  methods: {
    ...mapMutations({
      setMessage: `Common/${mutationTypes.SET_MESSAGE}`,
    }),
  },

  updated() {
    if (!this.message) {
      return;
    }

    setTimeout(() => {
      this.setMessage('');
    }, 4000);
  },
};
</script>

<style scoped>
  div{
    position: fixed;
    z-index: 50;
    left: 50%;
    transform: translate(-50%, 100%);
    bottom: 0;
    padding: 10px 20px;
    background: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    max-width: 400px;
    transition: .1s;
  }

  div.show{
    transform: translate(-50%, 0);
  }

  button{
    background: none;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    margin-left: 30px;
    padding: 5px 10px;
  }

  button:active{
    background: rgba(0,255,0,.1);
    opacity: 0.8;
  }
</style>
