<template>
  <div class="popup" @click.self="closePopup" v-if="popupIdFromStore === popupId">
    <div class="popup-content">
      <div class="header">
        <slot name="header"></slot>
        <div class="mdi mdi-close close-button" @click="closePopup"></div>
      </div>

      <div class="main">
        <slot></slot>
      </div>

      <div class="footer">
        <slot name="footer"></slot>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import * as mutationTypes from '../store/modules/mutation-types';

export default {
  data() {
    return {
      popupId: '',
    };
  },

  computed: {
    ...mapState({
      popupIdFromStore: state => state.Common.popupId,
    }),
  },

  methods: {
    closePopup() {
      this.$store.commit(`Common/${mutationTypes.SET_POPUP_ID}`, '');
    },
  },

  mounted() {
    this.popupId = this.$el.id;
  },
};
</script>

<style scoped>
  .popup{
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .1);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popup-content{
    position: relative;
    width: 80vw;
    max-width: 500px;
    min-height: 100px;
    margin: auto;
    background: white;
  }

  .close-button{
    position: absolute;
    z-index: 100;
    top: 10px;
    right: 10px;
    color: red;
    font-size: 18px
  }
</style>
