<template>
  <custom-input
    name="edit"
    class="edit"
    placeholder="Edit"
    v-model.lazy="name"
    :class="{error: !taskName}">
    <span class="error-message">This field is required</span>
  </custom-input>
</template>

<script>
import * as actionTypes from '../store/modules/action-types';

export default {
  data() {
    return {
      taskName: this.taskTag,
    };
  },
  props: ['task-id', 'task-tag'],

  watch: {
    taskTag(val) {
      this.taskName = val;
    },
  },

  computed: {
    name: {
      get() {
        return this.taskName;
      },
      set(newValue) {
        this.taskName = newValue;
        if (this.taskName) {
          this.$store.dispatch(`Tasks/${actionTypes.EDIT_TASK}`, { TaskID: this.taskId, TaskTag: this.taskName });
        }
      },
    },
  },
};
</script>

<style scoped>
  .error >>> input{
    caret-color: red;
  }

  .error >>> input:focus + .bottom-line{
    border-color: red;
  }

  .error-message{
    display: none;
  }

  .error .error-message{
    display: inline-block;
    color: red;
    left: 0;
    bottom: -20px;
    top: auto;
    font-size: 12px;
  }
</style>
