<template>
    <section>
        <h4>Tasks Management</h4>
        <custom-input name="search" class="search" placeholder="Search" v-model.lazy="searchText">
           <span class="mdi mdi-magnify"></span>
        </custom-input>

        <button v-popup="'addNew'">New item</button>
        <button
          v-html="pagination ? 'View all' : 'Pagination'"
          @click="setPaginationVisibility(!pagination)">
        </button>
        <add-new-task id="addNew"></add-new-task>
    </section>
</template>

<script>
import { mapState, mapMutations } from 'vuex';
import addNewTask from './addNewTask.vue';
import * as mutationTypes from '../store/modules/mutation-types';

export default {
  components: {
    addNewTask,
  },

  computed: {
    ...mapState({
      pagination: state => state.Common.pagination,
    }),

    searchText: {
      get() {
        return this.$store.state.Tasks.searchText;
      },
      set(val) {
        this.$store.commit(`Tasks/${mutationTypes.SET_SEARCH}`, val);
      },
    },
  },

  methods: {
    ...mapMutations({
      setPaginationVisibility: `Common/${mutationTypes.SET_PAGINATION_VISIBILITY}`,
    }),
  },
};
</script>


<style scoped>
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 18px 12px;
    background-color: white;
}

h4{
    font-weight: 400;
    font-size: 1rem;
    flex-grow: 3;
    color: rgba(0,0,0,.5);
}

.search{
    width: 46%;
    min-width: 218px;
}

.mdi{
    font-size: 24px;
}

input:focus ~ .mdi{
     color: #5d92f4;
}

button{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 7.5px 18px;
    background-color: #5d92f4;
    border: none;
    border-radius: 3px;
    margin-left: 8px;
}

button:active{
    outline: none;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14);
    opacity: 0.9;
}
</style>
