<template>
  <div id="app">
    <header>
      <h2>Tasks</h2>
      <p>Dashboard / Tasks</p>
    </header>
    <top-menu-tasks></top-menu-tasks>
    <list-of-tasks></list-of-tasks>
    <footer-of-tasks></footer-of-tasks>
    <message></message>
  </div>
</template>

<script>
import topMenuTasks from './components/topMenuTasks.vue';
import listOfTasks from './components/listOfTasks.vue';
import footerOfTasks from './components/footerOfTasks.vue';
import message from './components/message.vue';

export default {
  name: 'app',
  components: {
    topMenuTasks,
    listOfTasks,
    footerOfTasks,
    message,
  },
};
</script>

<style scoped>
@import './assets/styles/main.css';

#app {
  margin-top: 5vh;
}

header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 18px 12px;
  line-height: 1.5;
}

header h2{
  font-size: 1.5rem;
  font-weight: 500;
}

header p{
  font-size: 14px;
  color: rgba(0,0,0,.38);
}
</style>
