@font-face{
	font-family: Heebo;
	src: url("../fonts/Heebo-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: Heebo;
	src: url("../fonts/Heebo-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Material Design Icons";
	src: url("../fonts/materialdesignicons-webfont.eot?v=2.4.85");
	src: url("../fonts/materialdesignicons-webfont.eot?#iefix&v=2.4.85") format("embedded-opentype"),
	url("../fonts/materialdesignicons-webfont.woff2?v=2.4.85") format("woff2"),
	url("../fonts/materialdesignicons-webfont.woff?v=2.4.85") format("woff"),
	url("../fonts/materialdesignicons-webfont.ttf?v=2.4.85") format("truetype"),
	url("../fonts/materialdesignicons-webfont.svg?v=2.4.85#materialdesigniconsregular") format("svg");
	font-weight: normal;
	font-style: normal
}