@import "fonts.css";
@import "materialdesignicons.min.css";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Heebo', Helvetica, Arial, sans-serif;
    text-overflow: ellipsis;
}

html{
    font-size: 16px;
}

body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f4f7fa;   
}

.mdi{
    font-family: 'Material Design Icons';
}

button:hover{
    opacity: 0.8;
}

button:active{
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14);
}


@media (max-width: 768px){
    html{
        font-size: 14px;
    }
}
